/* ==================================
Responsive Media CSS 
================================== */

/* Desktop/laptop styles here */
@media only screen and (min-width: 1200px) {}

/* Tablet landscape styles here */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
     #header-section {
          padding: 15px 20px;
     }

     .nav-logo img {
          width: 130px;
     }

     .hamburger {
          display: initial;
     }

     #menu-close {
          display: initial;
          font-size: 1.6rem;
          color: #fff;
          padding: 30px 0 20px 20px;
     }

     .navbar .nav-menu {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          position: absolute;
          top: 0;
          right: -220px;
          width: 220px;
          height: 100vh;
          background-color: rgba(17, 20, 104, 0.45);
          backdrop-filter: blur(4.5px);
          border: 1px solid rgba(255, 255, 255, 0.18);
          transition: 0.3s ease;
     }

     .navbar .nav-menu.active {
          right: 0;
     }

     .navbar .nav-menu .nav-item {
          padding: 20px 0 20px 40px;
          margin-left: 0;
     }

     .nav-item .nav-link {
          color: #fff;
     }

     .nav-item .active {
          color: #FDC93B;
     }

     #home p {
          width: 80%;

     }

     #home {
          padding-top: 0px;
     }

     #feature {
          padding: 8vw 4vw 0 4vw;
     }

     #course {
          padding: 8vw 4vw 8vw 4vw;
     }

     #registration {
          padding: 6vw 4vw 6vw 4vw;
     }

     .reminder .duration {
          margin-top: 40px;
          display: flex;
          flex-wrap: wrap;
     }

     /* For about page */
     #about-container {
          padding: 8vw 4vw 0 4vw;
     }

     #about-container .about-img {
          padding-right: 30px;
     }

     #trust .trust-img img {
          width: 50px;
     }

     /* For blog page */
     #blog-section {
          padding: 8vw 4vw 8vw 4vw;

     }

     #blog-section .blogpost {
          width: 100%;
          margin-top: 40px;

     }

     #course-inner {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 8vw 4vw;
     }

     #course-inner .overview {
          width: 100%;
     }

     #course-inner .enroll {
          margin-top: 40px;
          width: 400px;
     }

     #course-inner .overview .course-img {
          width: 100%;
          height: 100%;
     }
     /* For contact page */
     #contact {
          padding: 8vw 4vw;
     }
     #contact .form-row {
          display: flex;
          flex-direction: column;
     }
     #contact .form-row input {
          width: 100%;
     }
     #contact .contact-address {
          width: 250px;
      }
}

/* Tablet portrait styles here */
@media only screen and (max-width: 767px) {

     /* ==================================
Nav Responsive CSS 
================================== */
     #header-section {
          padding: 15px 20px;
     }

     .nav-logo img {
          width: 130px;
     }

     .hamburger {
          display: initial;
     }

     #menu-close {
          display: initial;
          font-size: 1.6rem;
          color: #fff;
          padding: 30px 0 20px 20px;
     }

     .navbar .nav-menu {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          position: absolute;
          top: 0;
          right: -220px;
          width: 220px;
          height: 100vh;
          background-color: rgba(17, 20, 104, 0.45);
          backdrop-filter: blur(4.5px);
          border: 1px solid rgba(255, 255, 255, 0.18);
          transition: 0.3s ease;
     }

     .navbar .nav-menu.active {
          right: 0;
     }

     .navbar .nav-menu .nav-item {
          padding: 20px 0 20px 40px;
          margin-left: 0;
     }

     .nav-item .nav-link {
          color: #fff;
     }

     .nav-item .active {
          color: #FDC93B;
     }

     #home p {
          width: 90%;
     }

     #home {
          padding-top: 0px;
     }

     #feature {
          padding: 8vw 4vw 0 4vw;
     }

     #course {
          padding: 8vw 4vw 8vw 4vw;
     }

     #registration {
          padding: 6vw 4vw 6vw 4vw;
     }

     .reminder .duration {
          margin-top: 40px;
          display: flex;
          flex-wrap: wrap;
     }

     #registration {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }

     .reminder .duration {
          margin-top: 20px;
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
     }

     footer .copyright {
          margin-top: 0px;
     }

     footer .copyright P {
          margin-bottom: 20px;
     }

     .footer-widget input {
          width: 200px;
     }

     .reminder {
          text-align: center;
     }

     /* For about page */
     #trust .trust-img {
          margin-top: 40px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
     }

     #trust .trust-img img {
          width: 60px;
          margin: 10px 15px;
     }

     #about-container {
          padding: 8vw 4vw 8vw 4vw;
          flex-direction: column-reverse;
     }

     #about-container .about-img {
          width: 100%;
          padding-right: 0;
          padding-top: 20px;
     }

     #about-container .about-text {
          width: 100%;
          margin-top: 20px;
     }

     #trust {
          padding: 8vw 4vw 8vw 4vw;
     }

     /* For blog section */
     #blog-section {
          flex-direction: column;
     }

     #blog-section .blogs {
          width: 100%;
     }

     #blog-section .sidebar {
          width: 100%;
     }

     #blog-section {
          padding: 8vw 4vw;
     }

     #blog-section .blogpost {
          width: 100%;
          margin-top: 60px;

     }

     /* For Course inner page */
     #course-inner {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          padding: 8vw 4vw;
     }

     #course-inner .overview {
          width: 100%;
     }

     #course-inner .overview .course-img {
          width: 100%;
          height: 100%;
     }

     #course-inner .enroll {
          margin-top: 30px;
     }
     /* For contact page */
     #contact {
          padding: 8vw 4vw;
          display: flex;
          flex-direction: column;
      }
      #contact .contact-address {
          width: 100%;
      }
      #contact .contact-form {
          width: 100%;
      }
      #contact .form-row {
          flex-direction: column;
      }
      #contact .form-row input {
          width: 100%;
      }
      #contact .contact-address {
          width: 100%;
          margin-bottom: 40px;
      }
      #contact .form-col button {
          width: 100%;
      }
      #contact .contact-form {
          width: 100%;
          padding: 20px;

      }

}

/* Large smartphone/small tablet styles here */
@media only screen and (min-width: 375px) and (max-width: 425px) {

     /* ==================================
Nav Responsive CSS 
================================== */
     #home h1 {
          font-size: 2rem;
     }

     .footer-widget input {
          width: 200px;
     }
}